{% extends 'base.html' %}
{% block body %}
<div class="container" style="padding-top: 40px;">
    <div class="row">
        {% for i in movie_list %}
        <div class="col-md-3">
            <div class="card" style="width:250px;">
                    <img class="card-img-top" src="{{i.img.url}}" alt="Card image cap" width="350" height="350">
                    <div class="card-body">
                        <h2 class="card-title">{{i.name}}</h2>
<!--                        <p class="card-text">{{i.desc}}</p>-->
                        <a href="{% url 'movieapp:detail' i.id %}" class="btn btn-warning">View Details</a>
                    </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}





